:root {
  --primaryColor: rgba(136, 136, 136, 0.314);
  --secondaryColor: #262626;
  --operationButtonsColor: rgba(54, 78, 113, 0.337);
  --resultButtonColor: rgba(54, 78, 113, 0.698);
  --hoverColor: rgba(179, 97, 255, 0.412);
}
