:root {
  --primaryColor: rgba(136, 136, 136, 0.3);
  --secondaryColor: #262626;
  --operationButtonsColor: rgba(54, 78, 113, 0.3);
  --resultButtonColor: rgba(54, 78, 113, 0.7);
  --buttonColor: rgba(157, 58, 250, 0.4);
}
