@import url("colors.css");

@font-face {
  font-family: "MulishItalic";
  src: url("./fonts/MulishItalic.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "MulishItalic";
  color: var(--secondaryColor);
}

.title {
  text-align: center;
}

.calculator {
  display: grid;
  grid-template-rows: 140px auto;
  background-color: var(--primaryColor);
  width: 370px;
  height: 500px;
  margin: auto;
}

.result {
  align-content: start;
  background-color: var(--primaryColor);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
}

.button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  border-radius: 0;
  border: 0;
  border-left: 1px solid var(--secondaryColor);
  border-top: 1px solid var(--secondaryColor);
  cursor: pointer;
}

.operation {
  background-color: var(--operationButtonsColor);
}

.border_right {
  border-right: 1px solid var(--secondaryColor);
}

.border_bottom {
  border-bottom: 1px solid var(--secondaryColor);
}

.button:last-child {
  background-color: var(--resultButtonColor);
}

.button:hover {
  background-color: var(--hoverColor);
}
