@import url("./src/colors.css");

@font-face {
  font-family: "MulishItalic";
  src: url("./fonts/MulishItalic.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "MulishItalic";
  color: var(--secondaryColor);
}

.title {
  text-align: center;
}

.calculator {
  display: grid;
  grid-template-rows: 140px auto;
  background-color: var(--primaryColor);
  max-width: 370px;
  height: 500px;
  margin: auto;
}

.buttonsBlock {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(6, auto);
  border-top: 1px solid var(--secondaryColor);
  border-left: 1px solid var(--secondaryColor);
}

.button {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "MulishItalic";
  font-size: 20px;
  font-weight: bold;
  color: var(--secondaryColor);
  border: none;
  border-right: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: var(--purple);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -10px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.4s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.operation {
  background-color: var(--operationButtonsColor);
}

.button:last-child {
  background-color: var(--resultButtonColor);
}

.button:hover {
  background-color: var(--purple);
}

.result {
  margin: 90px 10px 0 0;
  text-align: end;
  font-size: 35px;
  transition: all 0.4s;
}
